.todo-input-wrapper {
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1.125rem;
    background-color: #f7f7f7;
    border-bottom: .2rem solid #0A64A4;

    .plus {
        margin-right: 1.125rem;
        color: #7EB12C
    }

    .todo-input {
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        font-size: 1.5rem;
        line-height: 1.5;
        border: none;
        background-color: none;
        padding: .3rem;
        width: 100%;
        background-color: #f7f7f7;
    }
}

@media (max-width: 600px) {
    .todo-input-wrapper {
        margin-top: 1.5rem;
        font-size: 1.1rem;

        .todo-input {
            font-size: 1.1rem;
        }
    }
}