.todo-item {
    font-size: 1.8rem;
    line-height: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .5rem;

    .text {
        width: 30rem;
    }

    .mark {
        margin-right: 1rem;
        color: #24577B;
        
        &-complete {
            display: block;
            color: #7EB12C;
            margin-right: 1rem;
            border: none;
            opacity: .3;
        }
    }

    .delete {
        opacity: .3;
        margin-left: auto;
        color: #ff3100;
        cursor: pointer;
    }

    .completed {
        text-decoration: line-through;
        opacity: .3;
    }

    &:hover .delete, &:hover .mark-complete, &:hover .completed {
        opacity: 1;
    }

    .todo-input {
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        font-size: 1.8rem;
        line-height: 1.5;
        border: none;
        border-bottom: 0.125rem solid #0A64A4;
        background-color: none;
        width: 98%;
    }
}

@media (max-width: 600px) {
    .todo-item {
        font-size: 1.375rem;

        .todo-input {
            font-size: 1.375rem;
        }
    }
}